@import url('https://fonts.googleapis.com/css?family=Roboto');

.card{
    width: 550px;
    height: 470px;
    margin: 20px 0 20px 0;
    position: relative;
    border: 0.5pt solid rgb(24, 23, 23);
    border-radius: 3px;
    background-color: rgb(252, 242, 235);
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.card p#name{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14pt;
    line-height: 10px;
    padding-left: 10px;
}

.card p#name:hover{
    color: rgba(105, 90, 205, 0.973);
}

img{
    display: inline-block;
    height: 400px;
    width: 550px;
    z-index: 1;
    position: relative;
    -webkit-filter: contrast(1.25);
    filter: contrast(1.25);
}

img:hover ~ .card h2{
    z-index: 1;
}

.card div{
    position: absolute;
    z-index: 0;
    bottom: 15px;
    left: 450px;
    font-size: 20pt;
    font-weight: bold;
}

.card p#date{
    position: absolute;
    bottom: -10px;
    font-weight: lighter;
    font-size: 12pt;
    padding-left: 10px;
}